<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="keywords" content="yechh" />
<link rel="icon" href="/image/favicon.ico">
<title>yechh</title>

<link href="/css/index.css" rel="stylesheet" type="text/css">
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>

</head>

<body>

<!-- 代码 开始 -->

<div class="wrap">

	<div class="header">

		<h1 class="logo"><a href="#" target="_blank"><img src="/image/yechhlogo.jpg" alt=""></a></h1>

	</div>

	<div class="top-nav">

		<div id="navList" class="navlist-wrap">

			<div class="navlist clearfix">

				<a href="" class="nav-btn" data-device="#javaItem">JAVA<span>&nbsp;&nbsp;&nbsp;</span></a>

				<a href="" class="nav-btn" data-device="#jsItem">JS<span>&nbsp;&nbsp;&nbsp;</span></a>

				<a href="" class="nav-btn" data-device="#sqlItem">SQL<span>&nbsp;&nbsp;&nbsp;</span></a>

				<a href="" class="nav-btn" data-device="#driudItem">DUIRD<span>&nbsp;&nbsp;&nbsp;</span></a>

				<a href="" class="nav-btn" data-device="#eurekaItem">EUREKA<span>&nbsp;&nbsp;&nbsp;</span></a>

			</div>

		</div>

		<div id="expandZone" class="expand active">

			<div class="download">

				<div id="javaItem" class="item">

					<div class="download-list">

						<a href="#" target="_blank" class="btn zj" id="download-link"><span class="icon"></span><span class="text">JAVA示例代码</span></a>

						<a href="#" target="_blank" class="btn sjgj" id="tencent_app_assistant_btn"><span class="icon"></span><span class="text">JAVA博客</span></a>

						<a href="#" target="_blank" class="btn wdj"><span class="icon"></span><span class="text">JAVA学习路线</span></a>

					</div>

				</div>

				<div id="jsItem" class="item">

					<div class="download-list">

						<a href="#" target="_blank" class="btn zj"><span class="icon"></span><span class="text">js基础</span></a>

						<a href="#" target="_blank" class="btn apple"><span class="icon"></span><span class="text">js扩展</span></a>

						<a href="#" target="_blank" title="iTools" class="btn itools"><span class="icon"></span><span class="text">js特效</span></a>

					</div>

				</div>

				<div id="sqlItem" class="item">

					<div class="download-list">

						<a href="#" target="_blank" class="btn zj"><span class="icon"></span><span class="text">sql基础</span></a>

						<a href="#" target="_blank" class="btn apple"><span class="icon"></span><span class="text">sql进阶</span></a>

						<a href="#" target="_blank" class="btn itools"><span class="icon"></span><span class="text">sql优化</span></a>

					</div>

				</div>

				<div id="duirdItem" class="item">

					<div class="download-list">

						<a href="http://localhost:8080/druid/index.html" target="show" class="btn zj"><span class="icon"></span><span class="text">duird监控</span></a>

					</div>

				</div>

				<div id="eurekaItem" class="item">

					<div class="download-list">

						<a href="#" target="_blank" class="btn zj"><span class="icon"></span><span class="text">多服务查询</span></a>

					</div>

				</div>

			</div>

			<div id="closeBtn" class="close-btn"></div>

		</div>

		<div class="nav-bottom-bg">

		</div>
        <div class="container">

            <div class="col-md-2">
                <iframe src="http://localhost:8080/auth/toMenu" width="100%" height="470px" scrolling="no"></iframe>
            </div>
            <div class="col-md-10">
                <iframe src="http://localhost:8080/auth/toIndex" name="show" width="920px" height="470px"></iframe>
            </div>
            <div class="col-md-2"></div>
        </div>


	</div>

</div>

<!-- 代码 结束 -->

</body>

</html>